<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796755420420-q5ocekbeq9fo9qtoj7bt1jmfhja5b20i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796755420420-q5ocekbeq9fo9qtoj7bt1jmfhja5b20i</string>
	<key>API_KEY</key>
	<string>AIzaSyCg4U5Kmzx2x3UXjpDFtgLg-apXRA8QBRo</string>
	<key>GCM_SENDER_ID</key>
	<string>796755420420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petTracker</string>
	<key>PROJECT_ID</key>
	<string>pet-tracker-916eb</string>
	<key>STORAGE_BUCKET</key>
	<string>pet-tracker-916eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796755420420:ios:2aafb18d5a6f506a371c51</string>
</dict>
</plist>